* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
}

.logo img {
    width: 80px;
    height: 60px;
    border: 2px white solid;
    border-radius: 70px;
    padding-top: 5px;
    padding: 5px;
}

.nav-list {
    white-space: nowrap;
    display: flex;
    width: 30%;
    margin: 10px auto;
    font-size: 18px;
}

.nav-list li {
    display: flex;
    list-style-type: none;
    padding: 23px;
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    color: wheat;
}

.nav-list li a:hover {
    color: gray;
    box-shadow: 4px 4px 4px black;
}

.rightNav {
    width: 30%;
    padding: 20px 20px;
    text-align: right;
    justify-content: right;
}

.btn-snm {
    background: local;
    background-color: rgb(246, 242, 242);
    font-size: 15px;
    padding: 5px;
    border-radius: 13px;
}

#search {
    padding: 5px;
    font-size: 17px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 9px;
}

.background {
    background: rgba(0, 0, 0, .7) url("../pictures/pic3.jpg");
    background-blend-mode: lighten;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.firstsection {
    height: 100vh;
}

.box-main {
    height: 80%;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 60%;
    margin: auto;
}

.fontup {
    font-weight: bold;
    font-size: 30px;
}

.fontdown {
    font-weight: lighter;
    font-size: 16px;
}

.part1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-stn1,
.btn-stn2 {
    border: 3px;
    margin: 2px;
    padding: 5px;
    border-style: ridge;
    background: none;
    color: white;
}

.part2 img {
    display: block;
    margin: auto;
    border: 2px solid white;
}

.thumbnail img {
    display: table-row;
    margin: 20px 20px;
    padding: 2px;
    border-radius: 100px;
    border: 2px solid black;
    box-shadow: 10px 5px 5px black;
}

.para {
    flex-direction: column;
    padding: 5px;
}

.secondsection,
.thirdsection,
.fourthsection {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: auto;
    padding: 50px;
}

.section-right {
    flex-direction: row;
}

.sec2p1 {
    padding: 21px 0px;
}

.btn-snm:hover,
.btn-stn1:hover,
.btn-stn2:hover {
    color: black;
    background-color: gray;
}

.form {
    /* display: flex;
flex-direction: column; */
    margin: 24px auto;
    max-width: 62%;
}

.font-center {
    padding: 25px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.form-input {
    margin: 14px auto;
    padding: 7px;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 5px 13px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-submit {
    background-color: none;
    margin: 10px auto;
    margin-bottom: 90px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
}

.btn-submit:hover {
    background-color: rgb(76, 68, 68);
    color: white;
}

.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.foot-appear {
    background-color: black;
    color: white;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}